body {
  background-image: url(../trail.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.text {
  text-align: center;
  color: white;
}
.text2 {
  text-align: left;
  color: white;
}
.formcontainer {
  border-radius: 5px;
  margin-top: 0;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 15px;
  overflow: visible;
}
/* .smalltree{
    position:absolute;
    top: 0;
} */
.textinput {
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  border: 1px solid #2b2e30;
  box-sizing: border-box;
  font-size: 30px;
}
#continent {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  font-size: 30px;
}
.gender {
  margin: 15px 0 15px 0;
  font-size: 30px;
}
.select {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 100%;
}
#review {
  border-radius: 5px;
  font-size: 30px;
  resize: none;
  display: inline-block;
  width: 95%;
  height: 250px;
  overflow: visible;
}
/* #box {
  height: 200px;
} */
.smalltree img {
  height: 120px;
}
